.dark { /* Subtitle area for images in carousel */
  position: absolute;
  bottom: -2px;
  height: 40px;
  width: 100%;
}

.dark h3 { /* Subtitle for images in carousel */
  position: relative;
  margin: 0 auto;
  color: white; /* As bright as possible, else hard to see */
  top: 10px;
  left: 10px;
}

.banner {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px black solid;
  border-radius: 5px;
  height: 202.47px;
  margin-bottom: -108px;
}

.unslider-wrap {height:200px}

.banner img {
  float: left;
  width: 318px;
  background-color: white;
  z-index: -1; /*Puts img tag behind close elements */
}
