.inlined {
  display: inline;
}

.clear-me {
  clear: both;
}

.article {
  width: 300px;
  margin-bottom: -20px;
}

.left {
  float: left;
}

.bottom {
  position: relative;
  top: 156px; /* (footer_heigt) - (.bottom_height + footer_border) */
  width: inherit; /* Gets same width as footer */
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
}

.right {
  float: right;
}

.gray {
  background-color: #333333;
  color: #888888;
}

.tint {
  background: rgba(0, 0, 0, 0.5);
  height: 15px;
  padding-bottom: 15px;
  z-index: 2;
}

/* STAR RATING */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
/* END STAR RATING */
