.inlined {
  display: inline;
}

.clear-me {
  clear: both;
}

img.article {
  width: 300px;
  margin-right: 10px;
}

.left {
  float: left;
}

.bottom {
  position: relative;
  top: 157px; /* (footer_heigt) - (.bootom_height + footer_border) */
  width: inherit; /* Gets same width as footer */
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
}

.right {
  float: right;
}

.pricetag {
  position: relative;
  bottom: 100px;
}

.calendar {
  border: 2px black solid;
}

.gray {
  background-color: #333333;
  color: #888888;
}
