#telephone { /* Styles telephone number in header */
  position: relative;
  bottom: 100px
}

#wrapper { /* Encapsulates all of body except <script> tags */
  width: 100%;
  min-height: 100%; /* At least wraps 100% of the screen height */
  position: relative;
}

#button{ /* Styles submit button in search field in header */
    border: 1px black solid;
    background-color:transparent;
    font-size: 14px;
}

#payment { /* Second part of form on rent.html */
  width: 960px;
  margin: 0 auto;
}

#form_container { /* Encapsules Contact form  */
  width: 600px;
  margin: 0 auto;
  overflow:auto;
  padding-bottom: 250px; /* Makes footer be at bottom */
}

#submit { /* Styles submit button in contact form */
  bottom: 0;
  clear:both;
  float: left;
}

#message { /* textarea in contact form */
  max-width: 570px; /* 280px * 2 + 10px */
}

#rent, #submit { /* Both buttons in rent form */
  width: 60px;
}

/* Inputs in contact form */
#firstname, #lastname, #email {
  width: 280px;
}

#travelers { /* Amount of travelers input was too short */
  width:150px
}

#payment { /* Payment form, should be displayed when #submit is clicked */
  padding-top: 20px;
  display: none;
}
