#telephone { /* Styles telephone number in header */
  position: relative;
  bottom: 100px
}

#wallpaper{ /* Styles the wallpaper */
    width: 100%;
}

#wrapper {
  min-height: 100%; /* At least wraps 100% of the screen height */
  position: relative;
}

#button{ /* Styles submit button in search field in header */
    border: 1px black solid;
    background-color:transparent;
    font-size: 14px;
}

#container{ /* Styles the main field of the page */

    padding-bottom: 210px; /* Makes footer be at bottom */
}

#container, #payment {
  width: 960px;
  margin: 0 auto;
}

#form_container {
  width: 600px;
  margin: 0 auto;
  overflow:auto;
  padding-bottom: 250px; /* Makes footer be at bottom */
}

#submit { /* Styles submit button in contact form */
  bottom: 0;
  clear:both;
  float: left;
}

#message {
  max-width: 570px; /* 280px * 2 + 10px */
}

#rent, #submit {
  width: 60px;
}

/* Inputs in contact form */
#firstname, #lastname, #email {
  width: 280px;
}

#travelers { /* Was too short */
  width:150px
}

#payment { /* Payment form, should be displayed when #submit is clicked */
  display: none;
}
