* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: url(https://upload.wikimedia.org/wikipedia/commons/f/fa/Playa_del_Rinc%C3%B3n_de_la_Victoria.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
    background-image: url(https://i.ytimg.com/vi/NruZ5vzRhQ4/maxresdefault.jpg);
    border-bottom: black solid 3px;
    height: 20%;
    width: 100%;
    padding-top: 20px;
    top: 0;
    margin-bottom: 20px;
}

nav{
    position: relative;
    bottom: 0;
    padding: 20px 0;
    margin-top: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    /*border-bottom: black solid 3px;*/
}

form {
  background: white;
  padding: 10px;
  border: 3px solid #000;
  border-radius: 5px;
}

form label {
  display: block;
}

form h2 {
  text-align: center;
}

a{
  text-decoration: none;
}

nav ul{
    position: relative;
    text-align: center;
}

nav ul li{
    padding: 20px 10px;
    width: 50px;
    display: inline;
    list-style-type: none;
    font-size: 20px;
}

nav ul li:hover{
    background: white url(https://i.ytimg.com/vi/NruZ5vzRhQ4/maxresdefault.jpg);
}

/* CLASSES */
.dark {
  position: absolute;
  bottom: -2px;
  height: 40px;
  width: 100%;
}

.dark h3 {
  position: relative;
  margin: 0 auto;
  color: white;
  top: 10px;
  left: 10px;
}

.inlined {
  display: inline;
}

.clear-me {
  clear: both;
}

.banner {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px black solid;
  border-radius: 5px;
  height: 202.47px;
  margin-bottom: -108px;
}

.unslider-wrap{height:200px}


.banner ul li img {
  float: left;
  width: 318px;
  background-color: white;
  z-index: -1;
}

img.article {
  width: 300px;
  margin-right: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* END CLASSES */

/* ID's */


#wallpaper{
    width: 100%;
}

#button{
    border: 0;
    background-color:transparent;
}

#container{
    width: 960px;
    margin: 0 auto;
}

#submit {
    right: 10px;
    bottom: 0;
    clear:both;
}
/* END ID's */

/* ID SUB-TAGS */

#search-bar form{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 0 5px;
}

#search-bar form input {
  border: 0;
}

article{
    background: white;
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* END ID SUB-TAGS */

/* MEDIA QUERIES */

@media screen and (max-width: 959px) {
  #container{
    width:100%;
  }
}

@media screen and (max-width: 640px) {
  p {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  #container {
    width: 320px;
  }
  li {
    display: block;
  }
}

/* END MEDIA QUERIES */

/* RIBBON */

  .ribbon{
      font-size: 15px !important;
      width: 20em;
      position: relative;
      background: linear-gradient(0deg, #069 0%, #09c 99%);
      color: #fff;
      text-align: center;
      padding: 1em 0em;
      margin: 1em auto;
  }

  .ribbon:before, .ribbon:after {
      content: "";
      position: absolute;
      display: block;
      bottom: -1em;
      border: 1.5em solid #069;
      z-index: -1;
  }

  .ribbon:before{
      left: -2em;
      border-left-color: transparent;
  }

  .ribbon:after{
      right: -2em;
      border-right-color: transparent;
  }

  .ribbon-folds:before{
      left: 0;
      border-width: 1em 0 0 1em;
  }

  .ribbon-folds:after{
      right: 0;
      border-width: 1em 1em 0 0;
  }

  .ribbon-folds {
      font-size: 20px;
  }

  .ribbon-z-index{
      position: relative;
      z-index: 1;
  }

/* END RIBBON */
