* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: url(https://upload.wikimedia.org/wikipedia/commons/f/fa/Playa_del_Rinc%C3%B3n_de_la_Victoria.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

header{
    background-image: url(https://i.ytimg.com/vi/NruZ5vzRhQ4/maxresdefault.jpg);
    border-bottom: black solid 3px;
    height: 20%;
    width: 100%;
    padding-top: 20px;
    top: 0;
    margin-bottom: 20px;
}

nav{
    position: relative;
    bottom: 0;
    padding: 20px 0;
    margin-top: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    /*border-bottom: black solid 3px;*/
}

article{
    background: white;
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

form {
  margin-top: 20px;
  background: white;
  padding: 10px;
  border: 3px solid #000;
  border-radius: 5px;
  overflow: auto;
}

form label {
  display: block;
}

form h2 {
  text-align: center;
}

section { /* for form elements in rent.html */
  float: left;
}

a{
  text-decoration: none;
}

nav ul{
    position: relative;
    text-align: center;
}

nav ul li{
    padding: 20px 10px;
    width: 50px;
    display: inline;
    list-style-type: none;
    font-size: 20px;
}

nav ul li:hover{
    background: white url(https://i.ytimg.com/vi/NruZ5vzRhQ4/maxresdefault.jpg);
}

footer {
  border-top: 3px black solid;
  background-image: url("../img/Fanabe_beach_sunset - kopia.jpg");
  background-size: cover;
  width: 100%;
	height: 200px;
	position: absolute;
	bottom: 0; /* This will make is stay at the bottom */
	left: 0;
}

table {
  background: rgba(255, 255, 255, 0.7);
}

th, td {
  font-size: 10px;
  text-align: center;
}

td:hover {
  background-color: red;
}

/* ID SUB-TAGS */

#search-bar form{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 0 5px;
}

#search-bar form input {
  border: 0;
}

/* END ID SUB-TAGS */
