* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: url(https://upload.wikimedia.org/wikipedia/commons/f/fa/Playa_del_Rinc%C3%B3n_de_la_Victoria.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
    position: fixed;
    background-image: url(https://i.ytimg.com/vi/NruZ5vzRhQ4/maxresdefault.jpg);
    border-bottom: black solid 3px;
    height: 20%;
    width: 100%;
    padding-bottom: 20px;
    top: 0;
}

#wallpaper{
    width: 100%;
}

nav{
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    /*border-bottom: black solid 3px;*/
}

li:hover{
    background: white url(https://i.ytimg.com/vi/NruZ5vzRhQ4/maxresdefault.jpg);
}

ul{
    position: relative;
    text-align: center;
}

li{
    padding: 21px 10px;
    width: 50px;
    display: inline;
    list-style-type: none;
    font-size: 14px;
}

form{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 0 5px;
}

#search-bar form input {
  border: 0;
}

section{
    width: 960px;
    margin: 0 auto;
}

section p{
    background: white;
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#search-box{
    border: 0;
    background-color:transparent;
}

#button{
    border: 0;
    background-color:transparent;
}

#first-section{
    margin-top: 180px;
}

/* RIBBON */

.ribbon{
    font-size: 15px !important;
    width: 20em;
    position: relative;
    background: linear-gradient(0deg, #069 0%, #09c 99%);
    color: #fff;
    text-align: center;
    padding: 1em 0em;
    margin: 1em auto;
}

.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #069;
    z-index: -1;
}

.ribbon:before{
    left: -2em;
    border-left-color: transparent;
}

.ribbon:after{
    right: -2em;
    border-right-color: transparent;
}

.ribbon-folds:before{
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon-folds:after{
    right: 0;
    border-width: 1em 1em 0 0;
}

.ribbon-folds {
    font-size: 20px;
}

.ribbon-z-index{
    position: relative;
    z-index: 1;
}

/* END RIBBON */
